# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE and editor folders
.vscode/
.idea/
*.swp
